<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cellular Haven</title>
    </head>

    <body>
        <div class="qr-container-wrapper">
            <div class="qr-container">
                <h1>Rezultatul chestionarului</h1>
                
                <p>Ai răspuns corect la <%= numarCorecte %> din <%= intrebari.length %> întrebări.</p>
                <a href="/" class="qr-back-btn">Înapoi la pagină principală</a>
            </div>
        </div>
    </body>
</html>
